@import url('https://fonts.googleapis.com/css?family=Roboto|Merriweather');

@import "~tailwindcss/base";

@import "./_custom";

@import "~tailwindcss/components";
@import "~tailwindcss/utilities";


body {
    @apply bg-gray-100;
}

main {
    @apply text-center;
    @apply mx-auto;
    @apply p-8;
}

a {
    color: blue;
}

h1 {
    color: #ff3e00;
    @apply font-serif;
    @apply uppercase;
    @apply text-4xl;
    @apply font-thin;
}

@media (min-width: 640px) {
    main {
        max-width: none;
    }
}
